/***************
 * BASE STYLES * 
 ***************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray1: #b1b1b1;
  --gray2: #8f8f8f;
  --black: #101010;
  --blue1: #304fea;
  --blue2: #183fcd;
  --blue3: #3f51b5;
}

html,
body {
  height: 100%;
}

input,
button {
  border: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: var(--black);
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 9.5rem 5rem;
  margin: 0 auto;
}

/* Background image */
.image-container {
  display: none;
  align-self: stretch;
  background: url("../images/workout.jpg");
  background-size: cover;
  min-height: 100%;
  width: 40%;
  background-position: center center;
}

.video-container {
  display: none;
}

/********
 * FORM * 
 ********/
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
}

.form__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  align-self: flex-start;
  margin-bottom: 2rem;
}

.form__label {
  font-size: 1.2rem;
  color: var(--gray2);
}

.form__input {
  width: 100%;
  height: 4.5rem;
  border-radius: 1.8rem;
  padding: 0 1.5rem;
  background: var(--black);
  color: var(--gray1);
  border: 1px solid var(--gray2);
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.form__input::placeholder {
  color: var(--gray2);
}

.form__input:focus {
  outline: none;
}

.form__input--password {
  font-size: 2rem;
}

.form__input--password::placeholder {
  font-size: 1.4rem;
  transform: translate3d(0, -3px, 0);
}

.form__btn {
  height: 5.5rem;
  border-radius: 3.3rem;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  background: var(--blue1);
  margin: 3.5rem 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

/* Sign up with */
.sign-up-with {
  width: 100%;
  margin-bottom: 4rem;
}

.sign-up-with__title {
  display: block;
  font-size: 1.2rem;
  color: var(--gray2);
  position: relative;
  text-align: center;
  margin-bottom: 3.5rem;
}

.sign-up-with__title::before,
.sign-up-with__title::after {
  content: "";
  height: 0.1rem;
  background: var(--gray2);
  position: absolute;
  display: block;
  width: 30%;
  top: 50%;
  transform: translateY(-50%);
}

.sign-up-with__title::after {
  right: 0;
}

.sign-up-with__buttons {
  display: flex;
  justify-content: space-between;
}

.sign-up-with__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.sign-up-with__btn--facebook {
  background: var(--blue3);
  color: var(--white);
  margin-right: 2rem;
}

.sign-up-with__btn--google {
  background: var(--white);
  color: var(--black);
}

.sign-up-with__text {
  font-size: 1.2rem;
  font-weight: 600;
}

.sign-up-with__image--facebook {
  width: 3rem;
}

.sign-up-with__image--google {
  width: 2.7rem;
  margin-right: 0.3rem;
}

/* Log in */
.log-in {
  color: var(--gray2);
  font-size: 1.3rem;
  text-align: center;
}

.log-in__link {
  position: relative;
  color: var(--white);
  font-weight: 600;
  margin-left: 0.2rem;
}
